<div class="container">
    <header class="header">
      <h1>About page!</h1>
    </header>
  
    <main class="main-content">
      <section class="hero">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Rem similique aliquid id vitae, facilis eum veritatis inventore voluptatum incidunt, 
        nihil blanditiis molestias sint! Voluptatum consequuntur quisquam amet et incidunt labore.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cumque fugiat repudiandae 
        non tenetur amet nemo. Dolore quo nesciunt a. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Deleniti, adipisci ullam? Dolore sed officia ea recusandae exercitationem. Repellat assumenda eligendi omnis 
        laborum pariatur, rerum quas, ea ex voluptate quo quis.</p>
      </section>
    </main>
  </div>

  

