<div class="container">
    <header class="header">
      <br>
      <h1>Welcome to LYNC World</h1><br><br>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="services">Services</a></li>
          <li><a routerLink="contact">Contact</a></li>
        </ul>
      </nav>
    </header><br>
    <router-outlet></router-outlet>
    <main class="main-content">
      <section class="hero">
        <h2>Discover the Future of Connectivity</h2>
        <button>Get Started</button>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2024 LYNC World. All rights reserved.</p>
    </footer>
  </div>


